<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>test</title>
    <link rel="stylesheet" href="static/css/base.css">
    <style>
    .btn{
      text-align: right;
    }
    </style>
    <link rel="stylesheet" href="./static/css/styles.css" />
  </head>

  <body>
    <p>
      <h1>ノート生成アプリ</h1>
    </p>
    <form method="post" enctype="multipart/form-data">

      <label>
        <input type="file" name="upfile" id="upload" multiple required />画像アップロード
      </label>
      <p class="name">選択されていません</p>
      <p id="cropping-desc" class="hide">クリックして、トリミング</p>
      <div id="cropping-popup" class="hide">
        <div id="preview"></div>

        <div id="inline-wrap" class="popup-box mfp-hide">
          <div>トリミング</div>
          <!-- crop -->
          <div class="cropimage-wrap">
            <div class="box-2">
              <div class="result"></div>
            </div>
            <div class="box-2">
              <canvas
                id="canvas"
                class="preview-canvas"
                width="300"
                height="300"
              ></canvas>
            </div>
            <!--rightbox-->
            <img class="cropped" id="cropped-image" src="" alt="" />
          </div>
          <button class="btn insert">Insert</button>
          <span class="hide" id="inserted-counter"></span>
        </div>
      </div>

      <div class="btn">
        <input type="button" id="submitButton" value="文字認識" class="btn--blue hide"/>
      </div>
    </form>

    <form action="/topdf" method="POST" width="40%" style="margin-left: 20px">
      <input id="x" type="hidden" name="content" />
      <trix-editor id="trixeditor" input="x"></trix-editor>
      <div class="btn">
        <input type="submit" id="trixButton" value="保存"  class="btn--blue"/>
      </div>
    </form>

  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

  <script type="text/javascript" src="./static/js/preview.js"></script>
  <script type="text/javascript" src="./static/js/send.js"></script>
  <script type="text/javascript" src="./static/js/crop.js"></script>

  <!-- Trixのインポート -->
  <link rel="stylesheet" type="text/css" href="./static/css/trix.css" />
  <script src="./static/js/trix.js"></script>

  <!-- 画像のアップロードのためのスクリプト -->
  <!-- 参考：https://qiita.com/kyamadahoge/items/5295bb530d48c5c35eef -->
  <script type="text/javascript" src="./static/js/trix_upload.js"></script>

  <!-- cropper-->
  <link rel="stylesheet" href="./static/css/cropper.css" />
  <script src="./static/js/cropper.js"></script>

  <link rel="stylesheet" href="./static/css/crop.css" />

  <!-- magnific popup -->
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css"
  />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.js"></script>
  <link rel="stylesheet" type="text/css" href="./static/css/popup.css" />
  <script src="./static/js/popup.js"></script>

</html>
